* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

@font-face {
    font-family: 'Watermelon';
    src: url(fonts/Watermelon-Regular.otf);
}

/*NavBar */

.nav-link {
    font-family: Fredoka;
    font-size: 16px;
    margin-top: 30px;
    color: black;
    opacity: 1;
}

.bg-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    filter: brightness(0.9);
}

/*Heading */

.header {
    background: url(images/Header\ Image.jpg);
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

#heading-title {
    color:white;
    text-transform: uppercase;
    font-size: 64px;
    font-family: Watermelon;
    margin-top: 10%;
    z-index: 1;
    min-width: 500px;
}

#heading-text {
    text-align:left;
    margin: 20px 20px 20px 0px;
    font-family: Fredoka;
    font-size: 16px;
    color: white;
    z-index: 1;
    transition-delay: 100ms;
    min-width: 500px;
}

/*Products Section */

#products {
    background-color: #FFFFF0;
    position: relative;
    z-index: 5;
}

.product-name {
    font-family: Fredoka;
    font-size: 18px;
}

.product-img:hover {
    transform: translateY(-10%);
    transition: 1s;
}

/*Testimonial Section */

#testimonials {
    background-image: url("images/Testimonials\ Background.jpg");
    width: auto;
    height: 450px;
}

.heading {
    color: white;
    padding-top: 50px;
    font-family: Blinker;
    font-weight: 600;
    font-size: 40px;
}

.quote {
    font-family: Blinker;
    font-weight: 600;
    font-size: 32px;
    margin-left: 150px;
    margin-right: 150px;
}

/*Team Section */

#team {
    background-color: #FFFFF0;
}

#team-title {
    text-align:center;
    padding-top: 50px;
    font-family: Blinker;
    font-weight: 600;
    font-size: 40px;
}

#team-subheading {
    text-align:center;
    padding-bottom: 50px;
    font-family: Fredoka;
    font-size: 16px;
}

.team-img:hover {
    transform: translateY(-5%);
    transition: 1s;
}

/*Contact Section */

#contact {
    background-image: url("images/Contact\ Image.jpg");
    width: auto;
    height: 300px;
}

#contact-subheading {
    text-align: center;
    color: white;
    margin-top: 50px;
}

/*Footer */

#footer {
    background-color: #292929;
    padding-top: 50px;
    padding-bottom: 100px;
}

/*Buttons */

.button-pink {
    border: 2.5px solid black;
    border-radius: 30px;
    background-color: #F28EE6;
    font-family: Fredoka;
    font-size: 18px;
    padding: 5px 10px;
    z-index: 2;
}

.button-pink:hover,
.button-white:hover {
    filter: brightness(0.9);
    transition-duration: 0.5s;
}

.button-white {
    border: 2px solid black;
    border-radius: 30px;
    background-color: white;
    font-family: Fredoka;
    font-size: 18px;
    padding: 5px 10px;
    z-index: 2;
}

button.products {
    background-color:#F28EE6;
    color:black;
    border: 7px solid #F28EE6;
    border-radius:30px;
    font-family: Fredoka;
    font-size: 18px;
    z-index: 2;
}

.button.products:hover {
    background-image: linear-gradient(to right top, #f28ee6, #ed9be3, #e8a7e1, #e3b3dd, #debeda);
}

button.about {
    background-color: white;
    color: black;
    border:7px solid white;
    border-radius:30px;
    font-family: Fredoka;
    font-size: 18px;
    z-index: 2;
}

/*Bootstrap */

.carousel-control-prev-icon {
    margin-top: 50px;
}

.carousel-control-next-icon {
    margin-top: 50px;
}

/*Text */

.title {
    text-align:center;
    font-family: Blinker;
    font-weight: 600;
}

.subheading {
    text-align:center;
    font-family: Fredoka;
}

.quote {
    text-align: center;
    justify-content: center;
    color: white;
    margin-top: 95px !important;
}

.bodytext {
    text-align: center;
    color: white;
    font-family: Fredoka;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Fredoka;
    font-weight: 600;
    font-size: 18px;
}

/*Images */

.gallery-img {
    border: 1px solid transparent;
    border-radius: 30px;
    margin: 0 auto;
}

/*** Animations ***/

.hidden { /* Default style makes everything hidden */
    opacity: 0;
    transition: all 1s;
}

.right-slide { /* Animation to slide in from the right */
    transform: translateX(100%);
}

.left-slide { /* Animation to slide in all the way from the left */
    transform: translateX(-100%);
}

.part-left-slide { /* Animation to slide in part way from the left */
    transform: translateX(-20%);
}

.show {
    opacity: 1;
    transform: translateX(0);
}