* {
    margin: 0;
    padding: 0;
}

/*** Nav Bar ***/
.nav {
    color: black;
    position: absolute;
}

.nav-link {
    font-family: Fredoka;
    font-size: 16px;
    margin-top: 30px;
    color: white;
    opacity: 1;
}

/*** Header Section ***/
#header {
    background-image: url('images/Products-Background.png');
    height: 70vh;
    filter: brightness(0.8);
}

#heading-title {
    font-family: Watermelon;
    font-size: 96px;
    color: white;
    text-align: center;
}